<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>removehashwithattributes</name>
	<displayName><![CDATA[Remove hash with attributes from url]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Remove hash with attributes from url]]></description>
	<author><![CDATA[nextpointer.gr]]></author>
	<tab><![CDATA[seo]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
